<div id="nr-structure-list">
    <div class="menu-container"
         layout
         layout-align="end">
        <div ng-click="vm.showCheckboxes = !vm.showCheckboxes">
            <img class="icon"
                 src="assets/icons/checkbox.svg"
                 height="40"
                 width="40">
        </div>

        <md-menu class="columns-menu"
                 layout
                 layout-align="end">
            <div ng-click="$mdMenu.open($event)">
                <img class="icon"
                     src="assets/icons/drop.svg"
                     height="40"
                     width="40">
            </div>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="column in vm.columns">
                    <md-button ng-click="column.isSelected = !column.isSelected; onColumnClick(column)"
                               md-prevent-menu-close>
                        <md-checkbox ng-checked="column.isSelected"
                                     md-prevent-menu-close>
                            {{column.label}}
                        </md-checkbox>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

    <md-list>
        <md-list-item class="md-2-line header">
            <ul class="md-list-item-text"
                layout="row"
                layout-align="start center"
                dnd-list="selectedColumns"
                dnd-horizontal-list="true">

                <div ng-if="vm.showCheckboxes"
                     class="checkbox-dummy">
                </div>

                <li ng-repeat="column in selectedColumns"
                    ng-if="column.isSelected"
                    dnd-draggable="column"
                    dnd-moved="selectedColumns.splice($index, 1)"
                    flex>
                    {{column.label}} {{$index}}
                </li>
            </ul>
        </md-list-item>
        <md-list-item class="md-2-line row"
                      ng-repeat="document in vm.documents">

            <md-checkbox ng-if="vm.showCheckboxes"
                         ng-model="document.selected"
                         ng-change="vm.onDocumentSelect({document: document})">
            </md-checkbox>

            <div class="md-list-item-text"
                 layout="row"
                 layout-align="start center">

                <span ng-repeat="column in selectedColumns"
                      ng-if="column.isSelected"
                      flex>
                    {{document[column.field]}}
                </span>

            </div>
        </md-list-item>
    </md-list>
</div>