#nr-structure-list .test {
    opacity: 0.5;
}

#nr-structure-list .icon {
    background-color: grey;
} 

#nr-structure-list .header {
    background-color: #212E3B;
    color: #f3f3f3;
    font-size: 15px;
    font-weight: bold;
}

#nr-structure-list .row:nth-child(odd) {
    background-color: #E5EAEB;
}

#nr-structure-list .checkbox-dummy {
    height: auto;
    width: 24;
    margin-left: 3px;
    margin-right: 29px;
    margin-top: 16px;
}
